.about-style-one-info {
    margin-bottom: 2.5em;
}

.about-style-one-info:last-child {
    margin-bottom: 0;
}

.about-style-one-info p {
    margin-bottom: 0;
}

.blog-area .post-title {
    font-size: 26px;
}

@media only screen and (max-width: 767px) {
    .choose-us-style-two-info .fun-fact {
        margin-top: inherit;
        padding-top: inherit;
        border-top: inherit;
        margin-bottom: 40px;
    }
}